.formContainer {
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: #424242;
    border-top: 1px solid #333333;
    box-shadow: 0px -15px 10px -15px #111;
    opacity: 0.95;
}
