.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fullHeight {
    height: 100vh;
}

.flexCenterColumn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.paperPadding {
    padding: 40px 60px;
}

.emailInput {
    margin-top: 20px!important;
    margin-bottom: 10px!important;
}

.passInput {
    margin-bottom: 20px!important;
}

nav {
    position: fixed;
    top: 0;
    height: 50px;
    width: 100%;
    background-color: #424242;
    border-bottom: 1px solid #333333;
    box-shadow: 0px 15px 10px -15px #111;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav button {
    margin: 30px!important;
}

p {
    color: white;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
}
