.postCloud {
    width: 200px;
    min-height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0099FD;
    border-radius: 20px;
    white-space: pre-wrap;
    word-break: break-all;
    padding: 15px;
    margin-bottom: 5px;
}
